body {
  font-family: Roboto, Arial;
  background-color: rgb(250, 248, 248);
  padding-left: 95px;
  padding-top: 80px;
  padding-right: 24px;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}